{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <h1 id="titleLink">All Posts</h1>
    <hr>
    <div id="post-view">
        <div id="post-table">
        {% for post in page_obj %}
            <div class="compose-post">
            <h3 id="titlePage">{{ post.username }}</h3>
            <p class="inputText">{{ post.content }}</p>
            <p class="timeInfo">{{ post.timestamp}}</p>
            <p class="timeInfo">Likes: {{ post.likes.all.count}}</p>
            <form action="{% url 'like_post' post.id %}" method="POST" class="ui form">
                {% csrf_token %}
                <input type="hidden", name="post_id", value={{ post.id}}>
                {% if user not in post.likes.all %}
                <button id="like-input" type="submit" class="btn btn-sm btn-outline-primary" value="Like" name="like">Like</button>
                {% else %}
                <button id="like-input" type="submit" class="btn btn-sm btn-outline-primary" value="Unlike" name="like">Unlike</button>
                {% endif %}
            </form>
            <form action="{% url 'follow_profile' post.id %}" method="POST" class="ui form follow_profile">
                {% csrf_token %}
                <input type="hidden", name="post_id", value={{ post.id}}>
                {% if post.username not in user.following %}
                <button id="follow_profile" type="submit" class="btn btn-sm btn-outline-primary" value="Follow" name="follow_profile">Follow</button>
                {% else %}
                <button id="follow_profile" type="submit" class="btn btn-sm btn-outline-primary" value="Unfollow" name="follow_profile">Unfollow</button>
                {% endif %}
            </form>
            </div>
        {% endfor %}
        </div>
    </div>
    <div class="compose-post" id="compose-post">
        <div class="pagination justify-content-center">
            <span class="step-links btn btn-sm btn-outline-primary">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
{% endblock %}
{% block script %}
<script src="{% static 'network/main.js' %}"></script>
{% endblock %}
