{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <h1 id="titleLink"> Your Network</h1>
    <hr>
    <div class="compose-post" id="compose-post">
    <button class="btn btn-sm btn-outline-primary" id="show_posts" class="follow_profile">Show Less</button>
    </div>
    <div id="post-view">
    <div id="post-table">
    {% for post in posts %}
    <div class="compose-post">
    <h3 id="titlePage">{{ post.username }}</h3>
    <p class="inputText">{{ post.content }}</p>
    <p class="timeInfo">{{ post.timestamp}}</p>
    <p class="timeInfo"> Likes: 0 </p>
    <div class="follow_profile">
    <button class="btn btn-sm btn-outline-primary" class="follow_profile">Follow</button>
    </div>
    </div>
    {% endfor %}
    </div>
    </div>
{% endblock %}
{% block script %}
<script src="{% static 'network/main.js' %}"></script>
{% endblock %}
