{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <h1 id="titleLink"> Your Network</h1>
    <small>sample</small>
    <hr>
    <div class="compose-post" id="compose-post">
    <h3 id="titlePage">{{ user.username }}</h3>
    <p class="inputText">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
    </div>
    <button class="btn btn-sm btn-outline-primary" id="show_posts">Show More</button>
    <div id="post-view">
    <h2>Showing more posts</h2>
    <table id="post-table">
    <tbody></tbody>
    </table>
    </div>
{% endblock %}
{% block script %}
<script src="{% static 'network/main.js' %}"></script>
{% endblock %}
