{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <h1 id="titleLink">Profile</h1>
    <hr>
     <header class="vtbgv">
     <div class="XjzKX">
     <div class="_4dMfM">
     <div class="M-jxE"></div>
     </div>
     <span class="g47SY">Picture</span></div>
     <section class="zwlfE">
     <div class="nZSzR">
     <h2 class="_7UhW9  fKFbl  yUEEX  KV-D4  fDxYl">** {{ user }} **</h2>
     <div class="QzzMF Igw0E IwRSH eGOV_ ui_ht bPdm3">
     <button class="btn btn-sm btn-outline-primary" id="edit_profile">Edit Profile</button>
     </div>
     </div>
     <div class="nZSzR"></div>
     <ul class="k9GMp">
     <li class="Y8-fY">
     <span class="-nal3">
     <span class="g47SY">{{ posts_list }}</span>
      posts
     </span>
     </li>
     <li class="Y8-fY">
     <span class="-nal3">
     <span class="g47SY">{{ followers }}</span>
      Followers
     </span>
     </li>
     <li class="Y8-fY">
     <span class="-nal3">
     <span class="g47SY">{{ following }}</span>
      Following
     </span>
     </li>
     </ul>
     <div class="-vDIg"></div>
     </section>
     </header>
     <hr>
     {% for post in userPost %}
     <div class="compose-post">
     <h3 id="titlePage">{{ post.username }}</h3>
    <p class="inputText">{{ post.content }}</p>
    <p class="timeInfo">{{ post.timestamp }}</p>
    <p class="timeInfo"> Likes: 0 </p>
    </div>
     {% endfor %}
{% endblock %}
{% block script %}
<script src="{% static 'network/main.js' %}"></script>
{% endblock %}
