/* tags */
* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", arial, sans-serif;
  margin: 10;
  height: 100vh;
  width: 100vw;
  background: #f0f8ff;
}

textarea {
  min-height: 100px;
  min-width: 1000px;
}

h3 {
  margin: 0.5em 0;
}

/* ids */

/* #compose-post {
  padding: 30px;
  margin: 10px;
  border-style: outset;
  clear: both;
  vertical-align: inherit;
  border-collapse: separate;
} */

#titleLink {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: left;
  padding: 10px;
}

#titlePage {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: left;
  padding: 5px;
}

/* class */

.compose-post {
  padding: 30px;
  margin: 10px;
  border-style: outset;
  clear: both;
  vertical-align: inherit;
  border-collapse: separate;
}
