/* tags */
* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", arial, sans-serif;
  margin: 10;
  height: 100vh;
  width: 100vw;
  color: #8b008b;
  background: #000000;
}

textarea {
  min-height: 100px;
  min-width: 1000px;
  border-radius: 12px;
}

h3 {
  margin: 0.5em 0;
}

/* ids */

#titleLink {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: left;
  padding: 10px;
}

#titlePage {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: left;
  padding: 5px;
}

/* class */

.compose-post {
  padding: 30px;
  margin: 10px;
  border: 1px solid white;
  border-radius: 12px;
  clear: both;
  vertical-align: inherit;
  border-collapse: separate;
}

.inputText {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.timeInfo {
  color: grey;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
